
@{
    ViewData["Title"] = "Aboutus";
}


<div class="hero-area-3 hero-height-3" id="backBG">

    <div class="searcharea py-4" style="">
        <div class="container hero-contner-1">
            <div class="row align-items-center">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="srchareaoptions">
                        <div class="f-left searchareadivsize">
                            <input type="text" class="searchareaitemsize input-plchlder-txt" id="" name=""
                                   placeholder="Events Keywords">
                        </div>
                        <div class="f-left searchareadivsize">
                            <select class="searchareaitemsize" name="" id="">
                                <option value="">All Countries</option>
                                <option value="">option1</option>
                                <option value="">option2</option>
                                <option value="">option3</option>
                                <option value="">option4</option>
                                <option value="">option5</option>
                            </select>
                        </div>
                        <div class="f-left searchareadivsize">
                            <select class="searchareaitemsize slctoptn" name="" id="">
                                <option value="">All Specialties</option>
                                <option value="">option1</option>
                                <option value="">option2</option>
                                <option value="">option3</option>
                                <option value="">option4</option>
                                <option value="">option5</option>
                            </select>
                        </div>
                        <div class="f-left searchareadivsize">

                            <input id="normalsrch" class="input-plchlder-txt" type="text" name="" id=""
                                   placeholder="Search">
                            <i class="fa-solid fa-magnifying-glass normalsrch "></i>

                        </div>
                        <div class="f-left  " id="advancesrch">
                            <input class=" input-plchlder-txt" type="text" name="" id=""
                                   placeholder="Advanced Search">
                            <i class="fa-solid fa-magnifying-glass advancesrch"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container hero-contner-2 ">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-center">
                <div class="hero-university-text">

                    <h2 id="h2headingall">
                        About Us
                    </h2>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- hero-area-end -->
<!-- -----------------------------------paste here----------------------------- -->


<section id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="overview-div">
                    <h2>Overview</h2>
                    <p>
                        Keeping up to date with new advances, treatments, and evidence in medicine
                        is an essential component of continuous medical education and clinical governance.
                    </p>

                    <p>
                        A broad range of organizations involved in health care such as medical societies,
                        pharmaceutical providers, and other health care institutions all play a vital role in
                        educating the medical field on current and future issues in medicine including clinical
                        trials, new treatments, and guidelines by organizing various educational meetings,
                        seminars, and conferences.
                    </p>

                    <p>
                        CourseForDoctors.com is a platform that is dedicated to all medical doctors and allied
                        health professionals who are looking to keep their knowledge up to date by finding the
                        right educational sessions and getting the latest news updates in their field of practice.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div id="overview-image">
                    <img src="~/images/Rectangle 285.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </div>
</section>

<section id="who-we-are">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="who-we-are-image">
                    <img src="~/images/Rectangle 286.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-md-6">
                <div id="who-we-are-div">
                    <h2>Who We Are</h2>
                    <p>
                        We are a global team of diverse professionals from the Medical and Technology
                        fields aiming to deliver a platform that connects Medical Doctors and Allied Health
                        Professionals with Research Centers, Health-Related Organizations & Societies,
                        and Pharmaceutical Providers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-mission">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="our-mission-div">
                    <h2>Our Mission</h2>
                    <p>
                        Our mission is to facilitate for all medical doctors and allied health professionals to
                        meet their educational and learning needs by attending the right educational sessions
                        for them.
                    </p>

                    <p>
                        In doing so we aim to provide a single platform for the advertisement of all healthcare
                        related meetings, seminars, and conferences by various stakeholders and bring them
                        all in one place, hence facilitating their search. In meeting our objectives, we aim to:
                    </p>

                    <p>
                        Facilitate for the pharmaceutical providers to advertise all their educational meetings
                        and seminars for doctors and allied health professional using our dedicated page
                    </p>

                    <p>
                        Facilitate for all medical societies and other healthcare organizations to advertise their
                        courses and conferences in various medical specialties using our dedicated page
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div id="our-mission-image">
                    <img src="~/images/Rectangle 287.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-12">
                <div id="second-para">
                    <p>
                        Support and help all medical doctors and allied health professionals to find a suitable educational session in their field of practice without having to do an
                        extensive search to meet their learning needs
                    </p>

                    <p> Promote evidence based medicine by advertising latest news on new treatments and clinical trials by pharmaceutical companies and other stakeholders.</p>
                </div>
            </div>
        </div>
    </div>
</section>

